@model RozetkaWebApp.Models.Contact

@{
    ViewBag.ContactsTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salutation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefAddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtAddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
