@using RozetkaWebApp.App_GlobalResources;
@using RozetkaWebApp.App_GlobalResources
@model RozetkaWebApp.Models.Comment

@{
     ViewBag.Product = Model.Product;
}

@{
    ViewBag.CommentTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

<p>
   <h4>@Resources.Видалити_цій_відгук</h4>
</p>

<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="@Resources._Remove" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
           <hr />
    </form>
   
    <dl class="row">
        <dt class = "col-sm-2"> @Resources.Коментар </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Text) </dd>
        <dt class = "col-sm-2"> @Resources.Переваги </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Pros) </dd> 
        <dt class = "col-sm-2"> @Resources.Недоліки </dt>
        <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Cons) </dd>
        <dt class = "col-sm-2">  @Resources.Дата </dt>   <dd class = "col-sm-10"> @Model.Date.ToString("dd/MM/yyyy") </dd>
        <dt class = "col-sm-2"> @Resources.Оцінка  </dt> <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Score) </dd>
        <dt class = "col-sm-2">  @Resources.Товар   </dt> <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Product.Label) </dd class>
        <dt class = "col-sm-2">  @Resources.Користувач  </dt> <dd class = "col-sm-10">  @Html.DisplayFor(model => model.User.UserName)  </dd class>
    </dl>

    
    
</div>
