@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Product>

@{
    ViewBag.PreferencesTab = (("active"));
    Html.RenderPartial((("_ProfileNavigator")));

    <p><h4> @Resources.Список_товаров </h4></p>

    Html.RenderPartial((("_FilterNavigator")));
}


<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_товара </th>
            <th> @Resources.Цена  </th>
            <th> @Resources.Количество </th>
            <th> @Resources.Ресурсы  </th>
            <th class="text-right"> @Resources.Действия  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>  @Html.DisplayFor(modelItem => item.ProductId)  </td>
                <td>  <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Label)</a> </td>
                <td>  @Html.DisplayFor(modelItem => item.Price)   </td>
                <td>  @Html.DisplayFor(modelItem => item.Quantity)  </td>
                <td>  <a asp-controller="ProductImages" asp-action="Index" asp-route-id="@item.CatalogId">@Resources.Image</a> </td>
                <td class="text-right  small">
                    <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@item.ProductId">   <i class="fas fa-solid fa-folder"></i> </a> &nbsp
                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-pen-square"></i> </a> &nbsp
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-trash"></i> </a>
                    <i class="fa-solid fa-file-lines  text-dark"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
