@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Wallett

@{
    ViewBag.WalletsTab = (("active"));
    Html.RenderPartial((("_ProfileNavigator")));
}

 <p>
     <h4> @Resources.Новая_карта </h4>
 </p>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">

             <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
                    <hr />
            </div> 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">@Resources.Номер_карты</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label">@Resources.Срок_работы</label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardholder" class="control-label">@Resources.Имя_владельца</label>
                <input asp-for="Cardholder" class="form-control" />
                <span asp-validation-for="Cardholder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardType" class="control-label">@Resources.Тип_карты</label>
                <input asp-for="CardType" class="form-control" />
                <span asp-validation-for="CardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerificationCode" class="control-label">@Resources.CVV_код0</label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                 <input asp-for="UserId" class="form-control" value=@ViewBag.User.Id />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync((("_ValidationScriptsPartial")));}
}
