@model IEnumerable<RozetkaWebApp.Models.Wallett>

@{
    ViewBag.WalletsTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}


 <p><h4>Список платежных карт</h4></p>

 <p><a  class="btn btn-success" asp-action="Create" asp-route-id=@ViewBag.User.Id> Добавить новую </a>   </p>
<table class="table">
    <thead>
        <tr> 
             <th> Тип карты </th>   
            <th> Номер карты </th>        
            <th> Срок действия </th>    
            <th> Имя владельца </th>                    
            <th class="text-right"> Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.WalletId">
                      @Html.DisplayFor(modelItem => item.CardNumber)
                </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardholder)
            </td>         
            <td class="text-right">
                <a asp-action="Details" asp-route-id="@item.WalletId"><i class="fas fa-solid fa-folder"></i></a> |
                <a asp-action="Edit" asp-route-id="@item.WalletId"><i class="fas fa-solid fa-pen-square"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.WalletId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
