@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.AspNetUser>

 @{
    ViewBag.AudienceTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

<p><h4>@Resources.Користувачи_що_цікавились_цим_</h4></p>

@{
    Html.RenderPartial((("_FilterNavigator")));
}

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th> @Resources.Имя_пользователя </th>
            <th> @Resources.Адрес_электронной_почты </th>
            <th> @Resources.Телефон </th>
            <th> @Resources.Блокировка </th>
            <th class="text-right"> @Resources.Действия</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/AspNetUsers/Preferences/@item.Id">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                <td class="text-right small">
                    <a href="/Addresses/Index/@item.Id"><i class="fas fa-solid fa-folder m-1"></i></a>
                    <a asp-controller="AspNetUsers" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-solid fa-trash m-1"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
