@model RozetkaWebApp.Models.Product


@if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Товары каталога";
        <h1>@ViewData["Title"]</h1>
    }
else 
{

           ViewData["Title"] = "Каталог "+ViewBag.Catalog.Label;
    <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.PortalId"> @ViewBag.Catalog.Portal.Label </a> 
            <a asp-controller = "Products" asp-action="Index" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Label </a> 
     </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link active">Добавить новый товар</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Products/Index/@ViewBag.Catalog.CatalogId">Товары</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/CatalogImages/Index/@ViewBag.Catalog.CatalogId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Properties/Index/@ViewBag.Catalog.CatalogId">Фильтры</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Details/@ViewBag.Catalog.CatalogId">Детали</a> </li>
        </ul>  

    }
   <p></p>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatalogId" class="control-label"> Каталог </label>
                <select asp-for="CatalogId" class ="form-control" asp-items="ViewBag.CatalogId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"> Заголовок </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Label" class="control-label"> Этикетка </label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"> Описание </label>
               <div>
                    <textarea asp-for="Description" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attributes" class="control-label"> Атрибуты </label>
                <div>
                    <textarea asp-for="Attributes" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Attributes" class="text-danger"></span>
                </div>  </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"> Цена </label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"> Количество </label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
                    <hr />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
