@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Product


@{
    ViewBag.Product = Model;
}
@{
    ViewBag.DelailsTab = "active";
    Html.RenderPartial("_ProductNavigator");
}


<p>
    <h4>  @Resources.Удалить_этот_товар</h4>
</p>

 <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>   
        <hr />
 </form> 

<div>
    <dl class="row">
        <dt class = "col-sm-2">   @Resources.Заголовок     </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Title)         </dd>
        <dt class = "col-sm-2">   @Resources.Этикетка      </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Label)         </dd>
        <dt class = "col-sm-2">   @Resources.Описание      </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Description)   </dd>
        <dt class = "col-sm-2">   @Resources.Атрибуты      </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Attributes)    </dd>
        <dt class = "col-sm-2">   @Resources.Цена          </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Price)         </dd>
        <dt class = "col-sm-2">   @Resources.Количество    </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Quantity)      </dd>
        <dt class = "col-sm-2">   @Resources.Каталог0       </dt>    <dd class = "col-sm-10"> 
        <a asp-controller = "Products" asp-action="Index" asp-route-id="@Model.CatalogId"> @Html.DisplayFor(model => model.Catalog.Label) </a> </dd> 
    </dl>
</div>
