
@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Product


@{
    ViewBag.Product = Model;
}
@{
    ViewBag.DelailsTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

<p>
    <h4>  @Resources.Удалить_этот_товар</h4>
</p>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Delete">
               <input type="hidden" asp-for="ProductId" />
               <input type="submit" value="@Resources._Remove" class="btn btn-danger" /> 
               <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>   
               <hr />
        </form> 
        <p></p>
        <dl class="row">
            <dt class = "col-sm-2">   @Resources.Каталог0       </dt>    <dd class = "col-sm-10"> 
            <a asp-controller = "Catalogs" asp-action="Details" asp-route-id="@Model.CatalogId"> @Html.DisplayFor(model => model.Catalog.Label) </a> </dd>  
            <dt class = "col-sm-2">   @Resources.Заголовок0     </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Title)         </dd>
            <dt class = "col-sm-2">   @Resources.Описание      </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Description)   </dd>
            <dt class = "col-sm-2">   @Resources.Цена          </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Price)         </dd>
            <dt class = "col-sm-2">   @Resources.Количество    </dt>    <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Quantity)      </dd>
         </dl>
    </div>
    <div class="col-md-4">  
         <img src="/images/products/@(Model.ProductId)/first" alt=@Model.Label width="100%" /> 
    </div>
</div>
<p></p>
<table class="table table-striped table-sm">

    <thead>
        <tr>
             <th> @Resources.Наименования_характеристики</th> 
             <th> @Resources.Значание </th>
             <th> @Resources.Ед_измерения  </th> 
             <th class="text-right"> @Resources.Действия </th>  
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Characteristics) {
        <tr>
           <td> <a asp-controller="Characteristics" asp-action="Edit" asp-route-id="@item.CharacteristicId">@Html.DisplayFor(modelItem => item.Property.Label)</a>   </td> 
           <td> @Html.DisplayFor(modelItem => item.Value)   </td>
           <td> @Html.DisplayFor(modelItem => item.Dimension)  </td>         
           <td class="text-right small">
                <a asp-controller="Characteristics" asp-action="Edit" asp-route-id="@item.CharacteristicId">   <i class="fas fa-solid fa-pen-square"></i> </a>   
                <a asp-controller="Characteristics" asp-action="Delete" asp-route-id="@item.CharacteristicId"> <i class="fas fa-solid fa-trash"></i> </a>
           </td>
        </tr>
        }
    </tbody>
</table>