@model RozetkaWebApp.Models.Product

    @{
         ViewBag.Product = Model;
    }


@if (ViewBag.Product == null) 
    {
        ViewData["Title"] = "Редактировать информацию о товаре";
         <h1>@ViewData["Title"]</h1>
    }
else 
{
    ViewData["Title"] = "Товар - " +ViewBag.Product.Label;
         <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Product.Catalog.PortalId"> @ViewBag.Product.Catalog.Portal.Label </a> \
            <a asp-controller = "Products" asp-action="Index" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Catalog.Label </a> \
           <a> @ViewBag.Product.Label </a> 
         </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Characteristics/Index/@ViewBag.Product.ProductId">Характеристики</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/ProductImages/Index/@ViewBag.Product.ProductId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/Products/Details/@ViewBag.Product.ProductId">Детали</a> </li>
        </ul>  

    }
 <p>
     <h4> Изменить информацию о товаре </h4>
 </p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
             <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                 <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>   
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="CatalogId" class="control-label"> Каталог </label>
                <select asp-for="CatalogId" class="form-control" asp-items="ViewBag.CatalogId"></select>
                <span asp-validation-for="CatalogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"> Заголовок </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"> Этикетка </label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"> Описание </label>
                 <div>
                    <textarea asp-for="Description" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attributes" class="control-label"> Атрибуты </label>
                <div>
                    <textarea asp-for="Attributes" rows="6" style="width:100%"></textarea>
                    <span asp-validation-for="Attributes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"> Цена </label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"> Количество </label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
