@model IEnumerable<RozetkaWebApp.Models.Product>

    @if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Товары каталога";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] ="Каталог: "+ViewBag.Catalog.Label;
        <h6> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.PortalId"> @ViewBag.Catalog.Portal.Label </a> \
            <a asp-controller = "Products" asp-action="Index" asp-route-id="@ViewBag.Catalog.CatalogId"> @ViewBag.Catalog.Label </a> 
         </h6>

        <h1> Товары </h1>
        <p>  <a asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Создать новый товар </a> </p>
    }

<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Наименование  </th>
            <th> Цена  </th>
            <th> Количество </th>
            <th> Ресурсы  </th>
            <th> Действия  </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.ProductId)  </td>
            <td>  <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Label)</a> </td>
            <td>  @Html.DisplayFor(modelItem => item.Price)   </td>
            <td>  @Html.DisplayFor(modelItem => item.Quantity)  </td>
            <td>  <a asp-controller = "ProductImages" asp-action="Index" asp-route-id="@item.CatalogId">Изображения</a> </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">   <i class="fas fa-solid fa-pen-square"></i> </a> |
                <a asp-action="Details" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-search-location"></i> </a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-trash"></i> </a>
                <i class="fa-solid fa-file-lines  text-dark"></i>
            </td>
        </tr>}
    </tbody>
</table>
