@model IEnumerable<RozetkaWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Товары</h1>

<p>
    <a asp-action="Create">Содать новый товар</a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attributes)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Catalog)
            </th>*@
             <th>
                ID
            </th>
            <th>
                Заголовок
            </th>
              <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Ресурсы
            </th>
            <th>
                Действия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attributes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalog.CatalogId)
            </td>*@
             <td>
                <a asp-controller = "Characteristics" asp-action="Index" asp-route-id="@item.CatalogId">Характеристики</a> |
                <a asp-controller = "ProductImages" asp-action="Index" asp-route-id="@item.CatalogId">Изображения</a> |
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
