@model IEnumerable<RozetkaWebApp.Models.Product>

    @if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Товары";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] =ViewBag.Catalog.Label;
        <h1> <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.CatalogId"> @ViewData["Title"] </a> </h1>
        <p>  <a asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Создать новый товар </a> </p>
    }

<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Название  </th>
            <th> Цена  </th>
            <th> Количество </th>
            <th> Ресурсы  </th>
            <th> Действия  </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.ProductId)  </td>
            <td>  <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Label)</a> </td>
            <td>  @Html.DisplayFor(modelItem => item.Price)   </td>
            <td>  @Html.DisplayFor(modelItem => item.Quantity)  </td>
            <td>  <a asp-controller = "ProductImages" asp-action="Index" asp-route-id="@item.CatalogId">Изображения</a> </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId"> Редактировать </a> |
                <a asp-action="Details" asp-route-id="@item.ProductId"> Детали </a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId"> Удалить </a>
            </td>
        </tr>}
    </tbody>
</table>
