@model IEnumerable<RozetkaWebApp.Models.Product>

    @if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Товары каталога";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] = "Каталог - "+ViewBag.Catalog.Label;
        <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.PortalId"> @ViewBag.Catalog.Portal.Label </a> \
         </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link active" href="/Products/Index/@ViewBag.Catalog.CatalogId">Товары</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/CatalogImages/Index/@ViewBag.Catalog.CatalogId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Properties/Index/@ViewBag.Catalog.CatalogId">Фильтры</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Details/@ViewBag.Catalog.CatalogId">Детали</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Edit/@ViewBag.Catalog.CatalogId">Редактировать</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Delete/@ViewBag.Catalog.CatalogId">Удалить</a> </li>
        </ul>  

       <a class="nav-link" asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Добавить </a>     
   }
   <table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Наименование  </th>
            <th> Цена  </th>
            <th> Количество </th>
            <th> Ресурсы  </th>
            <th> Действия  </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.ProductId)  </td>
            <td>  <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Label)</a> </td>
            <td>  @Html.DisplayFor(modelItem => item.Price)   </td>
            <td>  @Html.DisplayFor(modelItem => item.Quantity)  </td>
            <td>  <a asp-controller = "ProductImages" asp-action="Index" asp-route-id="@item.CatalogId">Изображения</a> </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">   <i class="fas fa-solid fa-pen-square"></i> </a> |
                <a asp-action="Details" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-search-location"></i> </a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId"> <i class="fas fa-solid fa-trash"></i> </a>
                <i class="fa-solid fa-file-lines  text-dark"></i>
            </td>
        </tr>}
    </tbody>
</table>
