@model IEnumerable<RozetkaWebApp.Models.Property>

    @if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Фильтры каталога";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] = "Каталог - "+ViewBag.Catalog.Label;
        <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.PortalId"> @ViewBag.Catalog.Portal.Label </a> \
            <a> @ViewBag.Catalog.Label </a> 
         </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Products/Index/@ViewBag.Catalog.CatalogId">Товары</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/CatalogImages/Index/@ViewBag.Catalog.CatalogId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/Properties/Index/@ViewBag.Catalog.CatalogId">Фильтры</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Details/@ViewBag.Catalog.CatalogId">Детали</a> </li>
        </ul>  


        <p><h4>Список фильтров</h4></p>
                
        <p><a  class="btn btn-success"  asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Добавить новый </a> </p>
   
    }

<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Наименование фильтра </th>
            <th> Формат вывова </th>
            <th> Маска ввода  </th>
            <th class="text-right"> Действия </th>  
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.PropertyId)  </td>
            <td> <a asp-controller="Properties" asp-action="Edit" asp-route-id="@item.PropertyId">@Html.DisplayFor(modelItem => item.Label) </a> </td>
            <td> @Html.DisplayFor(modelItem => item.Format)  </td>
            <td>  @Html.DisplayFor(modelItem => item.Mask)  </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.PropertyId">   <i class="fas fa-solid fa-pen-square"></i> </a> |
                @*<a asp-action="Details" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-search-location"></i> </a> |*@
                <a asp-action="Delete" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-trash"></i> </a>
            </td>
        </tr>
    }
    </tbody>
</table>
