@model IEnumerable<RozetkaWebApp.Models.Property>

    @if (ViewBag.Catalog == null) 
    {
        ViewData["Title"] = "Фильтры каталога";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] = "Каталог - "+ViewBag.Catalog.Label;
        <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Catalog.PortalId"> @ViewBag.Catalog.Portal.Label </a> \
         </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Products/Index/@ViewBag.Catalog.CatalogId">Товары</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/CatalogImages/Index/@ViewBag.Catalog.CatalogId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/Properties/Index/@ViewBag.Catalog.CatalogId">Фильтры</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Details/@ViewBag.Catalog.CatalogId">Детали</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Edit/@ViewBag.Catalog.CatalogId">Редактировать</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Catalogs/Delete/@ViewBag.Catalog.CatalogId">Удалить</a> </li>
        </ul>  

       <a class="nav-link" asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Добавить </a>     
    }

<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> Наименование  </th>
            <th> Формат вывова </th>
            <th> Маска ввода  </th>
            <th> Действия </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                 <a asp-controller="Properties" asp-action="Edit" asp-route-id="@item.PropertyId">@Html.DisplayFor(modelItem => item.Label) </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mask)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyId">   <i class="fas fa-solid fa-pen-square"></i> </a> |
                <a asp-action="Details" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-search-location"></i> </a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
