@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Property>

@{
    ViewBag.FiltersTab = (("active"));
    Html.RenderPartial((("_CatologNavigator")));

    <p><h4>@Resources.Список_фильтров</h4></p>

    Html.RenderPartial((("_FilterNavigator")));
}



<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_фильтра </th>
            <th> @Resources.Формат_вывода </th>
            <th> @Resources.Маска_ввода  </th>
            <th class="text-right"> @Resources.Действия </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.PropertyId)  </td>
                <td> <a asp-controller="Properties" asp-action="Edit" asp-route-id="@item.PropertyId">@Html.DisplayFor(modelItem => item.Label) </a> </td>
                <td> @Html.DisplayFor(modelItem => item.Format)  </td>
                <td>  @Html.DisplayFor(modelItem => item.Mask)  </td>
                <td class="text-right small">
                    <a asp-action="Edit" asp-route-id="@item.PropertyId">   <i class="fas fa-solid fa-pen-square m-1"></i> </a>  
                    @*<a asp-action="Details" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-search-location"></i> </a>*@
                    <a asp-action="Delete" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-trash m-1"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>


