@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Property>

    @{
      ViewBag.FiltersTab = (("active"));
      Html.RenderPartial((("_CatologNavigator")));
    }

    <p><h4>@Resources.Список_фильтров</h4></p>
                
@*     <p><a  class="btn btn-success"  asp-action="Create" asp-route-id="@ViewBag.Catalog.CatalogId"> Добавить новый </a> </p>
*@   
     @{  
    Html.RenderPartial((("_FilterNavigator")));
}



<table class="table">
    <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_фильтра </th>
            <th> @Resources.Формат_вывода </th>
            <th> @Resources.Маска_ввода  </th>
            <th class="text-right"> @Resources.Действия </th>  
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.PropertyId)  </td>
            <td> <a asp-controller="Properties" asp-action="Edit" asp-route-id="@item.PropertyId">@Html.DisplayFor(modelItem => item.Label) </a> </td>
            <td> @Html.DisplayFor(modelItem => item.Format)  </td>
            <td>  @Html.DisplayFor(modelItem => item.Mask)  </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.PropertyId">   <i class="fas fa-solid fa-pen-square"></i> </a> @Resources.res
                @*<a asp-action="Details" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-search-location"></i> </a> |*@
                <a asp-action="Delete" asp-route-id="@item.PropertyId"> <i class="fas fa-solid fa-trash"></i> </a>
            </td>
        </tr>
    }
    </tbody>
</table>

 @{
     Html.RenderPartial((("_PageNavigator")));
 }

