@model RozetkaWebApp.Models.PortalImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortalImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portal.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PortalImageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
