@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.PortalImage>

@{

    ViewBag.ImagesTab = (("active"));
    Html.RenderPartial((("_PortalNavigator")));
}



<p><h4>@Resources.Список_изображений</h4></p>
@{
    Html.RenderPartial((("_FilterNavigator")));
}
@*<p><a  class="btn btn-success"  asp-action="Create" asp-route-id="@ViewBag.Portal.PortalId"> Добавить изображение </a> </p>
*@

<style>
    .card-body:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }
</style>

<div class="row pt-3 mb-4">
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-md-4 mb-4 mb-lg-2 d-flex align-items-stretch">
            <div class="card rounded shadow-sm border-1 p-3 mb-2 ">
                <div class="card-body p-0 m-0">
                    <img src="/images/Index/@item.ImageId" alt="" class="w-100 img-fluid d-block mx-auto">
                    <p></p>
                    <h5 class="m-0">@Html.DisplayFor(modelItem => item.Label)</h5>
                    <p class="small text-muted">@Html.DisplayFor(modelItem => item.Title)</p>
                </div>
                <ul class="list-inline small text-right mb-2">
                    <li class="list-inline-item"><a asp-action="Edit" asp-route-id="@item.PortalImageId"> <i class="fas fa-solid fa-pen-square"></i> </a> </li>
                    @{
                        string itemPath = "/PortalImages/delete/" + item.PortalImageId.ToString();
                        <partial name="_LinkDelete" model="@itemPath" />
                    }
                </ul>
            </div>
        </div>
    }
</div>
@{
    Html.RenderPartial((("_PageNavigator")));
}