@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Characteristic


@{
    ViewBag.CharacteristicsTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

  <p>
     <h4> @Resources.Новая_характеристика </h4>
 </p>

<div class="row">
    <div class="col-md-12">
         <form asp-action="Create">

              <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
                <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
                   <hr />
              </div> 
            
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group"  style="display: none">
                <label asp-for="ProductId" class="control-label">@Resources.Товар0</label>
@*                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
*@                 <input asp-for="ProductId" class="form-control" value=@ViewBag.Product.ProductId />           

                </div>
              <div class="form-group">
                <label asp-for="PropertyId" class="control-label">@Resources.Наименование</label>
                <select asp-for="PropertyId" class ="form-control" asp-items="ViewBag.PropertyId"></select>
              </div>
             <div class="form-group">
                <label asp-for="Value" class="control-label">@Resources.Значение </label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="Dimension" class="control-label">@Resources.Ед_измерения</label>
                <input asp-for="Dimension" class="form-control" />
                <span asp-validation-for="Dimension" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync((("_ValidationScriptsPartial")));}
}
