@model RozetkaWebApp.Models.Characteristic

@{
     ViewBag.Product = Model.Product;
 }

@{
    ViewBag.CharacteristicsTab = "active";
    Html.RenderPartial("_ProductNavigator");
}

 <p>
    <h4> Информация о характеристике </h4>
 </p>

<div>
    <p>
        <button type="button" class="btn btn-primary"   onclick= "history.go(-1)">Отменить</button>
        <a class="btn btn-primary"  asp-action="Edit"   asp-route-id="@Model.CharacteristicId">   Редактировать  </a>
        <a class="btn btn-primary"  asp-action="Delete" asp-route-id="@Model.CharacteristicId"> Удалить </a>  
           <hr />
    </p>    
    <dl class="row">
        <dt class = "col-sm-2">   Наименование </dt>  <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Property.Label)  </dd> 
        <dt class = "col-sm-2">   Значение </dt>      <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Value)  </dd>
        <dt class = "col-sm-2">   Ед. измерения</dt>  <dd class = "col-sm-10">  @Html.DisplayFor(model => model.Dimension)  </dd>
    </dl>
           
</div>

