@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Characteristic

@{
    ViewBag.Product = Model.Product;
}

@{
    ViewBag.CharacteristicsTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

<p>
    <h4> @Resources.Информация_о_характеристике </h4>
</p>

<div>
    <p>
        <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CharacteristicId">   @Resources.Изменить  </a>
           @{
                ViewBag.returnUrl = "/Products/details/" + Model.ProductId.ToString();
                string Path = "/Characteristics/delete/" + Model.CharacteristicId.ToString();
                <partial name="_ButtonDeleteDetails" model="@Path" />
            }
        <hr />
    </p>
    <dl class="row">
        <dt class="col-sm-2">   @Resources.Заголовок0 </dt>
        <dd class="col-sm-10">  @Html.DisplayFor(model => model.Property.Label)  </dd>
        <dt class="col-sm-2">   @Resources.Значание </dt>
        <dd class="col-sm-10">  @Html.DisplayFor(model => model.Value)  </dd>
        <dt class="col-sm-2">   @Resources.Ед_измерения</dt>
        <dd class="col-sm-10">  @Html.DisplayFor(model => model.Dimension)  </dd>
    </dl>

</div>

