@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Characteristic>

@{
    ViewBag.CharacteristicsTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}


       <p><h4>@Resources.Список_характеристик</h4></p>
          @{  
    Html.RenderPartial((("_FilterNavigator")));
}

       
@*        <p><a  class="btn btn-success"  asp-action="Create" asp-route-id="@ViewBag.Product.ProductId"> Добавить новую</a></p>
*@<table class="table">

    <thead>
        <tr>
             <th> @Resources.Наименования_характеристики</th> 
             <th> @Resources.Значание </th>
             <th> @Resources.Ед_измерения  </th> 
             <th class="text-right"> @Resources.Действия </th>  
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
           <td> <a asp-controler="Characteristics" asp-action="Edit" asp-route-id="@item.CharacteristicId">@Html.DisplayFor(modelItem => item.Property.Label)</a>   </td> 
           <td> @Html.DisplayFor(modelItem => item.Value)   </td>
           <td> @Html.DisplayFor(modelItem => item.Dimension)  </td>         
           <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.CharacteristicId">   <i class="fas fa-solid fa-pen-square"></i> </a>   |
                <a asp-action="Delete" asp-route-id="@item.CharacteristicId"> <i class="fas fa-solid fa-trash"></i> </a>
           </td>
        </tr>
        }
    </tbody>
</table>
 @{
     Html.RenderPartial((("_PageNavigator")));
 }