@model IEnumerable<RozetkaWebApp.Models.Characteristic>

@{
    ViewData["Title"] = "Index";
}

<h1>Характеристики</h1>

<p>
    <a asp-action="Create">Создать новую характеристику</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                Характеристика
            </th>
            <th>
                Значение
            </th>    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Property.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DigitValue)
            </td>
            <td>
                    @{
                        if (item.Property.IsNumber == true) Html.DisplayFor(modelItem => item.DigitValue);
                        else Html.DisplayFor(modelItem => item.TextValue);
                    }
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacteristicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacteristicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacteristicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
