@model IEnumerable<RozetkaWebApp.Models.Characteristic>

@{
    ViewData["Title"] = "Index";
}

<h1>Характеристики</h1>

<p>
    <a asp-action="Create">Создать новую характеристику</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                Характеристика
            </th>
            <th>
                Значение
            </th>
                <th>
                 Размерность
            </th> 
            <th>
                Действия
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controler="Properties" asp-action="Edit" asp-route-id="@item.Property.PropertyId">@Html.DisplayFor(modelItem => item.Property.Label)</a>
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Value)
                </td>
                 <td>    
                     @Html.DisplayFor(modelItem => item.Dimension)
                </td>         
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacteristicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacteristicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacteristicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
