@page
@using RozetkaWebApp.App_GlobalResources;
@model RegisterConfirmationModel
@{
    ViewBag.Title= Resources.Register_confirmation;
}

<h1>@ViewBag.Title</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    @Resources.В_настоящее_время_в_этом_прило <a href="https://aka.ms/aspaccountconf">@Resources.эти_документы</a> @Resources.как_настроить_реального_отправ <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь, чтобы подтвердить свою учетную запись</a>
</p>
    }
    else
    {
<p>
        @Resources.Пожалуйста_проверьте_свою_элек
</p>
    }
}
