@model RozetkaWebApp.Models.ProductImage
@{
     ViewBag.Product = Model.Product;
}

@if (ViewBag.Product == null) 
{
        ViewData["Title"] = "Удалить изображение";
        <h1>@ViewData["Title"]</h1>
}
else 
{
        ViewData["Title"] = "Товар - " +ViewBag.Product.Label;

        <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Product.Catalog.PortalId"> @ViewBag.Product.Catalog.Portal.Label </a> \
            <a asp-controller = "Products" asp-action="Index" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Catalog.Label </a> \
            <a> @ViewBag.Product.Label </a> 
         </p>

        <h1>  @ViewData["Title"] </h1>
  
        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link" href="/Characteristics/Index/@ViewBag.Product.ProductId">Характеристики</a> </li>
            <li class="nav-item">  <a class="nav-link active" href="/ProductImages/Index/@ViewBag.Product.ProductId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Products/Details/@ViewBag.Product.ProductId">Детали</a> </li>
        </ul>  
}

  <p>
     <h4> Удалить это изображение? </h4>
 </p>

<div class="row">
     <div class="col-md-8">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductImageId" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
            <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
             <hr />
        </form>
        <p></p>
        <dl class="row">       
            <dt class = "col-sm-2"> Заголовок </dt> <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Title) </dd>
            <dt class = "col-sm-2"> Этикетка </dt>  <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Label) </dd>
        </dl> 
    </div>
    <div class="col-md-4"> 
       <img src="/Images/Index/@Model.ImageId" alt=@Model.Label width="100%" />        
    </div>
</div>


