@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.ProductImage>

@{
    ViewBag.ImagesTab = (("active"));
    Html.RenderPartial((("_ProductNavigator")));
}

        <p><h4>@Resources.Список_изображений</h4></p>
                 
@{  
    Html.RenderPartial((("_FilterNavigator")));
}
     <div class="row pt-3 mb-4">
        @foreach (var item in Model) 
        {
             <div class="col-lg-2 col-md-4 mb-4 mb-lg-2 d-flex align-items-stretch">
              <!-- Card-->
              <div class="card rounded shadow-sm border-1 p-3 mb-2">
                <div class="card-body p-0 m-0">
                  <img src="/images/Index/@item.ImageId" alt="" class="w-100 img-fluid d-block mx-auto">
                  <p></p>
                  <h5 class ="m-0">@Html.DisplayFor(modelItem => item.Label)</h5>
                  <p class="small text-muted">@Html.DisplayFor(modelItem => item.Title)</p>
                </div> 
                <ul class="list-inline small text-right mb-2">
                    <li class="list-inline-item"><a asp-action="Edit"   asp-route-id="@item.ProductImageId"> <i class="fas fa-solid fa-pen-square"></i> </a> </li> 
                    <li class="list-inline-item"><a asp-action="Delete" asp-route-id="@item.ProductImageId"> <i class="fas fa-solid fa-trash"></i> </a></li>
                </ul> 
               </div> 
            </div>   
        }
