@model IEnumerable<RozetkaWebApp.Models.ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Product.ProductId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Title) </th>
            <th> @Html.DisplayNameFor(model => model.Label) </th>
            <th> @Html.DisplayNameFor(model => model.Image) </th>
            <th class="text-right"> @Html.DisplayNameFor(model => model.Product) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Title)</td>
            <td> @Html.DisplayFor(modelItem => item.Label)</td>
            <td> @Html.DisplayFor(modelItem => item.Image.ImageId)</td>
            <td> @Html.DisplayFor(modelItem => item.Product.ProductId)</td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.ProductImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductImageId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
