@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.AspNetUserRole

@{
    ViewBag.ManagerTab = (("active"));
    Html.RenderPartial((("_RootNavigator")));
}

<p>
    <h4> @Resources.Добавить_изображение </h4>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input type="submit" value="@Resources.Create" class="btn btn-success" />
                <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">@Resources.Пользователи0</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId" value="@ViewBag.Role.Id"></input>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync((("_ValidationScriptsPartial")));
}
}
