@model IEnumerable<RozetkaWebApp.Models.AspNetUserRole>

 @{
    ViewBag.ManagerTab = "active";
    Html.RenderPartial("_RootNavigator");
}

<p><h4>Члены группы "@ViewBag.Role.Name"</h4></p>
       
 <p><a  class="btn btn-success" asp-action="Create" asp-route-id="@ViewBag.Role.Id"> Добавить пользователя </a>   </p>



<table class="table">
    <thead>
        <tr>
            <th> Имя пользователя  </th>
            <th class="text-right">Действия</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
         var id = item.UserId + item.RoleId;
        <tr>
             <td> 
                <a asp-controller = "Addresses" asp-action="Index" asp-route-id="@item.User.Id"> 
                    @Html.DisplayFor(modelItem => item.User.UserName) 
                </a>  
             </td>
             <td class="text-right">  <a asp-action="Delete" asp-route-id="@id"><i class="fas fa-solid fa-trash"></i>  </a>  </td>
        </tr>
}
    </tbody>
</table>
