@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.AspNetUserRole>

 @{
    ViewBag.ManagerTab = Resources.active;
    Html.RenderPartial(Resources._RootNavigator);
}

<p><h4>@Resources.Члены_группы@ViewBag.Role.Name</h4></p>


@{
    Html.RenderPartial((("_FilterNavigator")));
}

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th> @Resources.Имя_пользователя  </th>
            <th class="text-right">@Resources.Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var id = item.UserId + item.RoleId;
            <tr>
                <td>
                    <a asp-controller="Addresses" asp-action="Index" asp-route-id="@item.User.Id">
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </a>
                </td>
                <td class="text-right small">
                    @{
                        string itemPath = "/AspNetUserRoles/delete/" + id.ToString();
                        <partial name="_LinkDelete" model="@itemPath" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
