@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Order


@{
    ViewBag.OrdersTab = (("active"));
    Html.RenderPartial((("_ProfileNavigator")));
}

<p>
    <h4> @Resources.Новый_заказ </h4>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <input type="submit" value="@Resources.Create" class="btn btn-success" />
                <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
                <hr />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value=@ViewBag.User.Id />
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" value="0" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            @*            <div class="form-group" style="display: none">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>*@
            <div class="form-group" style="display: none">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label">@Resources.Адрес_доставки</label>
                <select asp-for="DeliveryAddress" class="form-control" asp-items="ViewBag.AddressId"></select>
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContact" class="control-label">@Resources.Контакты_заказчика</label>
                <select asp-for="DeliveryContact" class="form-control" asp-items="ViewBag.ContactId"></select>
                <span asp-validation-for="DeliveryContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">@Resources.Платежная_карта</label>
                <select asp-for="CardNumber" class="form-control" asp-items="ViewBag.WalletId"></select>
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="DeliveryEmail" class="control-label"></label>
                <input asp-for="DeliveryEmail" class="form-control" />
                <span asp-validation-for="DeliveryEmail" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="DeliveryPhone" class="control-label"></label>
                <input asp-for="DeliveryPhone" class="form-control" />
                <span asp-validation-for="DeliveryPhone" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="ExtOrderNbr" class="control-label"></label>
                <input asp-for="ExtOrderNbr" class="form-control" />
                <span asp-validation-for="ExtOrderNbr" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<p>
    <h6>@Resources.Список_товаров </h6>
</p>

<table class="table">
    <thead>
        <tr>
            <th> @Resources.Заголовок0 </th>
            <th> @Resources.Описание </th>
            <th> @Resources.Цена </th>
            <th> @Resources.Количество  </th>
            @*         <th> Дата  </th>  *@
            <th>  @Resources.Сумма </th>
            <th>  @Resources.Действия </th>
        </tr>
    </thead>
    <tbody>
        @foreach (LineDetail item in ViewBag.Cart)
        {
            <tr>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                        @Html.DisplayFor(modelItem => item.Product.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineTotal)
                </td>
                @*             <td>
                    @(((DateTime)item.CreateDate).ToString("dd/MM/yyyy"))
                    </td>*@
                <td>
                    <a asp-controller="LineDetails" asp-action="Edit" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-pen-square m-1"></i></a> 
                    <a asp-controller="LineDetails" asp-action="Details" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-folder m-1"></i></a> 
                    @{
                        string itemPath = "/LineDetails/delete/" + item.OrderDatailId.ToString();
                        <partial name="_LinkDelete" model="@itemPath" />
                    }                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
    await Html.RenderPartialAsync((("_ValidationScriptsPartial")));
}
}
