@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Order

@{
    ViewBag.AddressesTab = (("active"));
    Html.RenderPartial((("_ProfileNavigator")));
}

<p>
     <h4> @Resources.Изменить_информацию_о_заказе </h4>
 </p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-success" />
                 <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
                <hr />
            </div> 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Description" class="control-label">@Resources.Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">@Resources.Сумма_заказа</label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="OrderDate" class="control-label">@Resources.Дата_заказа</label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Status" class="control-label">@Resources.Статус</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">@Resources.Платежные_реквизиты</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label">@Resources.Адрес_доставки</label>
                <input asp-for="DeliveryAddress" class="form-control" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryContact" class="control-label">@Resources.Контактое_лицо</label>
                <input asp-for="DeliveryContact" class="form-control" />
                <span asp-validation-for="DeliveryContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryEmail" class="control-label">@Resources.Адрес_электронной_почты_заказч</label>
                <input asp-for="DeliveryEmail" class="form-control" />
                <span asp-validation-for="DeliveryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPhone" class="control-label">@Resources.Телефон_заказчика</label>
                <input asp-for="DeliveryPhone" class="form-control" />
                <span asp-validation-for="DeliveryPhone" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="ExtOrderNbr" class="control-label"></label>
                <input asp-for="ExtOrderNbr" class="form-control" />
                <span asp-validation-for="ExtOrderNbr" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<p>
    <h6>@Resources.Список_товаров </h6>
</p>

<table class="table">
    <thead>
        <tr>
             <th> @Resources.Название </th>
            <th> @Resources.Описание </th>
           <th> @Resources.Цена </th>
            <th> @Resources.Количество  </th>
    @*         <th> Дата  </th>  *@
             <th>  @Resources.Сумма </th> 
 <th>  @Resources.Действия </th> 
        </tr>
    </thead>
    <tbody>
    @foreach (LineDetail item in ViewBag.Lines) 
    {
        <tr>        
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.Quantities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
@*             <td>
                @(((DateTime)item.CreateDate).ToString("dd/MM/yyyy"))
            </td>*@
            <td>
                <a asp-controller="LineDetails" asp-action="Edit" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-pen-square"></i></a> |
                <a asp-controller="LineDetails" asp-action="Details" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-folder"></i></a> |
                <a asp-controller="LineDetails" asp-action="Delete" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync((("_ValidationScriptsPartial")));}
}
