@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Portal

@{
    ViewBag.Title = (("Портал - ")) + @Model.Label;
}
@{
    ViewBag.Portal = Model;
    ViewBag.DetailsTab = (("active"));
    Html.RenderPartial((("_PortalNavigator")));
}
<div class="row pt-3">
    <div class="form-group col-lg-6">
        <h4> Макет сторінки</h4>
    </div>
    <div class="form-group col-lg-6" style="text-align: right">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PortalId"> @Resources.Изменить </a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PortalId"> @Resources._Remove </a>
        <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
    </div>
</div>

@{
    Html.RenderPartial((("_MockupPortal")));
}