@model RozetkaWebApp.Models.Portal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Portal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attributes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attributes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PortalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
