@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Portal

@{
    ViewBag.Title = (("Портал - ")) + @Model.Label;
}
@{
    ViewBag.Portal = Model;
    ViewBag.DetailsTab = (("active"));

    Html.RenderPartial((("_PortalNavigator")));
}
<div class="row pt-3">
    <div class="form-group col-lg-6">
        <h4> Макет сторінки</h4>
    </div>
    <div class="form-group col-lg-6" style="text-align: right">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PortalId"> @Resources.Изменить </a>

        <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
        @{
            ViewBag.returnUrl = "/portals/details/" + Model.PortalId.ToString();
            string Path = "/portals/delete/" + Model.PortalId.ToString();
            <partial name="_ButtonDeleteDetails" model="@Path" />
        }
    </div>
</div>

@{
    Html.RenderPartial((("_MockupPortal")));
}



