@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Portal>


 @{
    ViewBag.PortalsTab = (("active"));
    Html.RenderPartial((("_RootNavigator")));
}
 
 <p><h4>@Resources.Список_порталов</h4></p>
       
@{  
    Html.RenderPartial((("_FilterNavigator")));
}

<table class="table">
    <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_портала </th>
            <th> @Resources.Ресурсы </th>
            <th class="text-right"> @Resources.Действия</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.PortalId)  </td>
            <td> <a asp-controller="Catalogs" asp-action="Index" asp-route-id="@item.PortalId">@Html.DisplayFor(modelItem => item.Label)</a> </td>
            <td> <a asp-controller = "PortalImages" asp-action="Index" asp-route-id="@item.PortalId">@Resources.Image</a> </td>
            <td class="text-right">
                <a asp-controller = "Catalogs"  asp-action="Index" asp-route-id="@item.PortalId"><i class="fas fa-solid fa-folder"></i></a> |
                <a asp-action="Edit" asp-route-id="@item.PortalId"><i class="fas fa-solid fa-pen-square"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.PortalId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
