@model IEnumerable<RozetkaWebApp.Models.Portal>

@{
    ViewData["Title"] = "Index";
}

<h1>Администрирование</h1>

<p>
    <a asp-action="Create">Создать новый портал</a>
</p>
<table class="table">
    <thead>
        <tr>
 @*           <th>
                @Html.DisplayNameFor(model => model.PortalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attributes)
            </th>*@
            <th>
                ID
            </th>
            <th>
                Портал
            </th>
            <th>
                Ресурсы
            </th>
            <th>
                Действия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PortalId)
            </td>
            <td>
                <a asp-controller="Catalogs" asp-action="Index" asp-route-id="@item.PortalId">@Html.DisplayFor(modelItem => item.Label)</a>
            </td>
 @*           <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attributes)
            </td>*@
            <td>
                <a asp-controller = "CatalogImages" asp-action="Index" asp-route-id="@item.PortalId">Изображения</a> 
            </td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.PortalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PortalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PortalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
