@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.CatalogImage

@{
    ViewBag.ImagesTab = (("active"));
    Html.RenderPartial((("_CatologNavigator")));
}
  <p>
     <h4> @Resources.Новое_изображение </h4>
 </p>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="submit" value="@Resources.Create" class="btn btn-success" />
                <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
               <hr />
            </div> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="CatalogId" class="control-label"></label>
@*              <select asp-for="CatalogId" class ="form-control" asp-items="ViewBag.CatalogId"></select>*@
                <input asp-for="CatalogId" class="form-control" value=@ViewBag.Catalog.CatalogId /> 
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@Resources.Заголовок0</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label">@Resources.Этикетка</label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <div class="editor-label">@Resources.Файл_изображения</div>
                 <div class="editor-field">
                      <input type="file" name="uploadImage" accept="image/*" />
                </div>
               <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync((("_ValidationScriptsPartial")));}
}
