@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.CatalogImage
    @{
        ViewBag.ImagesTab = (("active"));
        Html.RenderPartial((("_CatologNavigator")));
    }
        
   <p></p>
  
<p>
   <h4>@Resources.Удалить_это_изображение</h4>
</p>
<div class="row">
 <div class="col-md-8">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources._Remove" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>
         <hr />
    </form>
    <p></p>
        <dl class="row">       
             <dt class = "col-sm-2"> @Resources.Заголовок0 </dt> <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Title) </dd>
             <dt class = "col-sm-2"> @Resources.Этикетка </dt>  <dd class = "col-sm-10"> @Html.DisplayFor(model => model.Label) </dd>
        </dl> 
</div>
<div class="col-md-4"> 
         <img src="/Images/Index/@Model.ImageId" alt=@Model.Label width="100%" />        
</div>
</div>
