@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Promotion>

 @{
    ViewBag.PromotionsTab = (("active"));
    Html.RenderPartial((("_RootNavigator")));
}
  
 <p><h4>@Resources.Список_промоакций</h4></p>
       
 <p><a  class="btn btn-success" asp-action="Create" > @Resources.Добавить_изображение </a>   </p>


<table class="table">
     <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_акции </th>
            <th> @Resources.Дата_начала </th> 
            <th> @Resources.Дата_завершения </th>
            <th class="text-right"> @Resources.Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.PromotionId)  </td>
            <td> @Html.DisplayFor(modelItem => item.Label) </td>
             <td> @Html.DisplayFor(modelItem => item.StartDate)</td>
            <td> @Html.DisplayFor(modelItem => item.EndDate)</td>
            <td class="text-right">
                @*<a asp-action="Edit" asp-route-id="@item.PromotionId">Edit</a> <i class="fas fa-solid fa-folder"></i></a> |*@
                <a asp-action="Edit" asp-route-id="@item.PromotionId"><i class="fas fa-solid fa-pen-square"></i></a>  |
                <a asp-action="Delete" asp-route-id="@item.PromotionId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
