@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Catalog

@{
    ViewBag.Catalog = Model;
    ViewBag.DelailTab = (("active"));
    Html.RenderPartial((("_CatologNavigator")));


    <div class="row pt-3">
        <div class="form-group col-lg-4">
            <h4> Макет сторінки </h4>
        </div>
        <div class="form-group col-lg-8" style="text-align: right">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.CatalogId"> @Resources.Изменить </a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.CatalogId"> @Resources._Remove </a>
            <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
        </div>
    </div>

    Html.RenderPartial((("_CatalogMaket")));
}



