@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.Catalog>

@{

    ViewBag.CatalogsTab = (("active"));
    Html.RenderPartial((("_PortalNavigator")));
}
        
     <p><h4>@Resources.Список_каталогов</h4></p>
    
     @{  
    Html.RenderPartial((("_FilterNavigator")));
}
@*     <p><a  class="btn btn-success" asp-action="Create" asp-route-id="@ViewBag.Portal.PortalId"> Добавить новый</a> </p>
*@

<table class="table">
    <thead>
        <tr>
            <th> @Resources.ID </th>
            <th> @Resources.Наименование_каталога     </th>
            <th> @Resources.Ресурсы </th>
            <th class="text-right"> @Resources.Действия  </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.CatalogId)  </td>
            <td>  <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CatalogId">@Html.DisplayFor(modelItem => item.Label)</a>  </td>
            <td> 
                <a asp-controller = "CatalogImages" asp-action="Index" asp-route-id="@item.CatalogId">@Resources.Изображения</a> |
                <a asp-controller = "Properties" asp-action="Index" asp-route-id="@item.CatalogId">@Resources.Фильтры</a> 
            </td>
            <td class="text-right">
                <a asp-controller = "Products" asp-action="Index" asp-route-id="@item.CatalogId"> <i class="fas fa-solid fa-folder"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.CatalogId">  <i class="fas fa-solid fa-pen-square"></i> </a> |
                <a asp-action="Delete" asp-route-id="@item.CatalogId"> <i class="fas fa-solid fa-trash"></i> </a>
            </td>
        </tr>}
    </tbody>
</table>
 @{
     Html.RenderPartial((("_PageNavigator")));
 }