@model IEnumerable<RozetkaWebApp.Models.Catalog>


    @if (ViewBag.Portal == null) 
    {
        ViewData["Title"] = "Каталоги портала";
        <h1>@ViewData["Title"]</h1>
    }
    else 
    {
        ViewData["Title"] = "Портал - "+ViewBag.Portal.Label;
        <p> 
            <a asp-controller = "Portals" asp-action="Index"> Администрирование </a> \
            <a > @ViewBag.Portal.Label </a> 
         </p>

        <h1>  @ViewData["Title"] </h1>
  

        <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link active" href="/Catalogs/Index/@ViewBag.Portal.PortalId">Каталоги</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/CatalogImages/Index/@ViewBag.Portal.PortalId">Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link" href="/Portals/Details/@ViewBag.Portal.PortalId">Детали</a> </li>
        </ul>  
 <p></p>
       <a  class="btn btn-success" asp-action="Create" asp-route-id="@ViewBag.Portal.PortalId"> Добавить каталог</a>   
 <p></p>

 }



<table class="table">
    <thead>
        <tr>
            <th> Наименование      </th>
            <th> Действия  </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>  <a asp-controller="Products" asp-action="Index" asp-route-id="@item.CatalogId">@Html.DisplayFor(modelItem => item.Label)</a>  </td>
            <td>
                <a asp-controller = "Products" asp-action="Index" asp-route-id="@item.CatalogId"> <i class="fas fa-solid fa-folder"></i> </a> |
                <a asp-action="Edit" asp-route-id="@item.CatalogId">  <i class="fas fa-solid fa-pen-square"></i> </a> |
                <a asp-action="Delete" asp-route-id="@item.CatalogId"> <i class="fas fa-solid fa-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
