@page
@using RozetkaWebApp.App_GlobalResources;
@model Disable2faModel
@{
    ViewBag.Title= Resources.Отключить_двухфакторную_аутент0;
    ViewBag.ActivePage = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewBag.Title</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Resources.Это_действие_отключает_только_</strong>
    </p>
    <p>
       @Resources.Отключение_2FA_не_изменяет_клю <a asp-page="./ResetAuthenticator">@Resources.сбросить_ключи_аутентификатора</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Resources.Отключить_2FA</button>
    </form>
</div>
