@page
@using RozetkaWebApp.App_GlobalResources;
@model EnableAuthenticatorModel
@{
    ViewBag.Title= Resources.Configure_authenticator_app;
    ViewBag.ActivePage = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewBag.Title</h4>
<div>
    <p>@Resources.To_use_an_authenticator_app_go</p>
    <ol class="list">
        <li>
            <p>
                @Resources.Download_a_two_factor_authenti
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">@Resources.Android</a> @Resources._and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">@Resources.iOS</a> @Resources.or_Google_Authenticator_for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">@Resources.Android</a> @Resources._and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">@Resources.iOS</a>.
            </p>
        </li>
        <li>
            <p>@Resources.Scan_the_QR_Code_or_enter_this <kbd>@Model.SharedKey</kbd> у вашу програму двофакторної автентифікації. Пробіли та корпус не мають значення.</p>
            <div class="alert alert-info">@Resources.Learn_how_to <a href="https://go.microsoft.com/fwlink/?Linkid=852423">@Resources.enable_QR_code_generation</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Після того, як ви відскануєте QR-код або введете ключ вище, програма двофакторної автентифікації надасть вам
                 з унікальним кодом. Введіть код у полі підтвердження нижче.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Код підтвердження</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Підтвердити</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
