@page
@using RozetkaWebApp.App_GlobalResources;
@model GenerateRecoveryCodesModel
@{
    ViewBag.Title= Resources.Создание_кодов_восстановления_;
    ViewBag.ActivePage = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewBag.Title</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Resources.Поместите_эти_коды_в_безопасно</strong>
    </p>
    <p>
        @Resources.Если_вы_потеряете_свое_устройс
    </p>
    <p>
        @Resources.Создание_новых_кодов_восстанов <a asp-page="./ResetAuthenticator">@Resources.сбросить_ключи_аутентификатора</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Resources.Генерация_кодов_восстановления</button>
    </form>
</div>