@page
@using RozetkaWebApp.App_GlobalResources;
@model PersonalDataModel
@{
    ViewBag.Title= Resources.Personal_Data;
    ViewBag.ActivePage = ManageNavPages.PersonalData;
}

<h4>@ViewBag.Title</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Resources.Ваша_учетная_запись_содержит_п</p>
        <p>
            <strong>@Resources.Удаление_этих_данных_приведет_</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@Resources.Загрузить</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@Resources._Remove</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
