@page
@using RozetkaWebApp.App_GlobalResources;
@model ShowRecoveryCodesModel
@{
    ViewBag.Title= Resources.Коды_восстановления;
    ViewBag.ActivePage = Resources.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewBag.Title</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Resources.Сбросить_приложение_аутентифик0</strong>
    </p>
    <p>
        @Resources.Если_вы_потеряете_свое_устройс
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>