@page
@using RozetkaWebApp.App_GlobalResources;
@model TwoFactorAuthenticationModel
@{
    ViewBag.Title= Resources.TwoFactorAuthentication;
    ViewBag.ActivePage = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewBag.Title</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Resources.У_вас_не_осталось_кодов_восста</strong>
            <p>@Resources.Вы_должны<a asp-page="./GenerateRecoveryCodes"> @Resources.создать_новый_набор_кодов_восс</a> @Resources.прежде_чем_вы_сможете_войти_в_</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Resources.У_вас_остался_1_код_восстановл</strong>
            <p>@Resources.Вы_можете<a asp-page="./GenerateRecoveryCodes"> @Resources.создать_новый_набор_кодов_восс</a>@Resources.res2</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@Resources.Вы_имеете @Model.RecoveryCodesLeft оставшихся кодов восстановления.</strong>
            <p>@Resources.Вам_следует <a asp-page="./GenerateRecoveryCodes">@Resources.создать_новый_набор_кодов_восс</a>@Resources.res2</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">@Resources.Забыть_этот_браузер</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">@Resources.Отключить_двухфакторную_аутент</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">@Resources.Сбросить_коды_восстановления</a>
}

<h5>@Resources.Приложение_для_аутентификации</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Добавить приложение для проверки подлинности</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">@Resources.Настроить_приложение_для_прове</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">@Resources.Сбросить_приложение_аутентифик</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}