@model RozetkaWebApp.Models.Product

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attributes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attributes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catalog.CatalogId)
        </dd>
        
    </dl>

</div>  
<div>
    <xmp> <img src="/Images/4" /></xmp>
    <img src="/Images/4" width="25%"/>
</div>
<div>
    <xmp><img src="/Images/@@Model.ProductImages.First().ImageId" /></xmp>
    <img src="/Images/Index/@Model.ProductImages.First().ImageId" al width="25%"t="альтернативный текст"/>
</div>
<div>
    <xmp><img src="/Images/@@Model.ProductImages.First(i=> i.Label =="Main").ImageId" /> /></xmp>
    <img src="/Images/@Model.ProductImages.First(i=> i.Label =="Main").ImageId" a width="25%"/>
</div>

<div>
    <xmp><img src="/Products/1/Image/Main" /></xmp>
    <img src="/Products/1/Image/Main"  width="25%"/>
</div>

<div>
    <xmp><img src="/Products/@@Model.ProductId/Image/Main" /></xmp>
    <img src="/Products/@Model.ProductId/Image/Main" width="25%"/>
</div>


<div>
    <xmp><img src="/Images/Product/1/Main" /></xmp>
    <img src="/Images/Product/1/Main"  width="25%"/>
</div>