@page
@using RozetkaWebApp.App_GlobalResources;
@model ErrorModel
@{
    ViewBag.Title= Resources.Error0;
}

<h1 class="text-danger">@Resources._Error</h1>
<h2 class="text-danger">@Resources.An_error_occurred_while_proces</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Resources.Request_ID</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Resources.Development_Mode</h3>
<p>
    @Resources.Swapping_to <strong>@Resources.Development</strong> @Resources.environment_will_display_more_
</p>
<p>
    <strong>@Resources.Development_environment_should</strong>@Resources._as_it_can_result_in_sensitive <strong>ASPNETCORE_ENVIRONMENT</strong> @Resources.environment_variable_to <strong>@Resources.Development</strong>@Resources._and_restarting_the_applicatio
</p>
