@using RozetkaWebApp.App_GlobalResources
@model IEnumerable<RozetkaWebApp.Models.Characteristic>



<h4 class="text-secondary mt-16">Характеристики товару</h4>

<table class="table table-striped table-sm">

    <thead>
        <tr>
            <th> @Resources.Наименования_характеристики</th>
            <th> @Resources.Значание </th>
            <th> @Resources.Ед_измерения  </th>
            <th class="text-right"> @Resources.Действия </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Characteristic item in Model)
        {
            <tr>
                <td> <a asp-controller="Characteristics" asp-action="Edit" asp-route-id="@item.CharacteristicId">@item.Property.Label</a>   </td>
                <td> @item.Value   </td>
                <td> @item.Dimension  </td>
                <td class="text-right small">
                    <a asp-controller="Characteristics" asp-action="Edit" asp-route-id="@item.CharacteristicId">   <i class="fas fa-solid fa-pen-square m-1"></i> </a>
                    @{
                        string itemPath = "/Characteristics/delete/" + item.CharacteristicId.ToString();
                        <partial name="_LinkDelete" model="@itemPath" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
