@using RozetkaWebApp.App_GlobalResources;
<p>
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align: right">
                <form href=@(Context.Request.Path.ToString()) method="get" enctype="multipart/form-data">
                    @*<form asp-action="Index" method="get" enctype="multipart/form-data">*@

                    <div class="input-group">
                        @{
                            int pagesCount = (ViewBag.TotalCount - 1) / ViewBag.PageSize + 1;
                            int size = 10;
                            int first = ViewBag.Page / size;
                            int last = first + size;
                            if (last > pagesCount) last = pagesCount;
                            if (ViewBag.OrderBy == null || ViewBag.OrderBy.Trim() == "") ViewBag.OrderBy = "Label";
                            string path = Context.Request.Path 
                            + (("?Filter=")) + ViewBag.Filter 
                            + (("&pageSize=")) + ViewBag.PageSize 
                            + (("&chioces=")) + ViewBag.Chioces 
                            + (("&orderBy=")) + ViewBag.OrderBy 
                            + (("&page="));
                        }
                        @if (ViewData["DisableCreate"] == null)
                        {
                            <a class="btn btn-success mr-1" href=@(Context.Request.Path.ToString().Replace((("Index")),(("Create"))))> @Resources.Добавить_изображение</a>

                        }
                        @if (ViewData["DisableBack"] == null)
                        {
                            <button type="button" class="btn btn-primary mr-1" onclick="history.go(-1)"> Назад </button>
                        }


                        @if (first != 0)
                        {
                            <a class="btn btn-outline-info ml-1" href=@(path+(first-1))>
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        }
                        @for (int i = first; i < last; i++)
                            @if (i == ViewBag.Page)
                            {
                                <a class="btn btn-outline-warning ml-1" href=@(path+i)>
                                    @(i+1)
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-outline-info ml-1" href=@(path+i)>
                                    @(i+1)
                                </a>
                            }
                        @if (last < pagesCount)
                        {
                            <a class="btn btn-outline-info ml-1" href=@(path+last)>
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        }
                        <input type="hidden"
                               name="Chioces"
                               value="@ViewBag.Chioces" />
                        <input type="hidden"
                            name="OrderBy"
                            value="@ViewBag.OrderBy" />
                        <input type="text"
                               class="form-control ml-1"
                               placeholder="Текст для пошуку"
                               aria-label="Upload"
                               aria-describedby="button-addon2"
                               name="Filter"
                               value="@ViewBag.Filter" />
                        <button class="btn btn-primary " type="submit" data-mdb-ripple-color="dark">
                            <i class="fas fa-search"></i>
                        </button>
                        <div class="dropdown ">
                            @{
                                path = path + ViewBag.Page.ToString();
                                string orderByTitle = "За назвами";
                                if (ViewBag.OrderBy == "PRICEDOWN") orderByTitle = "Від дешевих до дорогих";
                                if (ViewBag.OrderBy == "PRICEUP") orderByTitle = "Від дорогих до дешевих";
                                if (ViewBag.OrderBy == "POPULARITY") orderByTitle = "Популярні";
                                if (ViewBag.OrderBy == "RATING") orderByTitle = "За рейтингом";
                                if (ViewBag.OrderBy == "PROMOTION") orderByTitle = "Акційні";
                                if (ViewBag.OrderBy == "NOVILTY") orderByTitle = "Новинки";
                            }
                          <button class="btn btn-secondary dropdown-toggle ml-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @orderByTitle
                          </button>
                          <div class="dropdown-menu rounded shadow-sm border-1 p-1 mb-2" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "LABEL")">За назвами</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "PRICEDOWN")">Від дешевих до дорогих</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "PRICEUP")">Від дорогих до дешевих</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "POPULARITY")">Популярні</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "RATING")">За рейтингом</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "PROMOTION")">Акційні</a>
                            <a class="dropdown-item" href="@path.Replace(ViewBag.OrderBy, "NOVILTY")">Новинки</a>

                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</p>





@*@using RozetkaWebApp.App_GlobalResources;
    <p>
    <div class="row">
    <div class="col-sm-2">
    <a class="btn btn-success" href=@(Context.Request.Path.ToString().Replace((("Index")),(("Create"))))> @Resources.Добавить_изображение</a>
    </div>
    <div class="col-sm-10 ">
    <form asp-action="Index" method="get" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary float-right">
    <i class="fas fa-search"></i>
    </button>
    <input name="Filter" placeholder="Ваш запит" class="form-control float-right" style="width:200px" value = "@ViewBag.Filter" />
    </form>
    </div>
    </div>
    </p>
*@