@using RozetkaWebApp.App_GlobalResources;

@using RozetkaWebApp.App_GlobalResources
@model string

@{
    var Id = Model.Replace("/", "");
}

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@Id">
  @Resources._Remove
</button>

<div class="modal" id="@Id" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  text-start text-body">
        <h5>@Resources.Попередження</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  text-center text-body ">
        <p>@Resources.Видалити_цей_об_єкт_і_все_що_п</p>
      </div>
        <form  class="modal-footer" action="@Model" method="post">
           <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" /> 
           <input type="submit" value="@Resources._Remove" class="btn btn-danger" />
           <button type="button" class="btn btn btn-primary" data-dismiss="modal">@Resources.Отменить</button>
        </form>
    </div>
  </div>
</div>
