@using RozetkaWebApp.App_GlobalResources;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name.Split('@')[0]</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action((("Index")), (("Home")), new { area = (("")) })">
                <button type="submit" class="nav-link btn btn-link text-dark">@Resources.Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Resources.Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Resources.Log_in</a>
        </li>
    }
</ul>
<div class="nav-item d-flex justify-content-center align-items-center h-100 vertical-align: middle ">
    <img src="@Url.Content("~/Images/root/help")" class="align-middle" style="width: 20px">
</div>
