@using RozetkaWebApp.App_GlobalResources;

@if (ViewBag.Product == null) 
{
    ViewBag.Title= Resources.Редактировать_продкт;
    <h1>@ViewBag.Title</h1>
}
else 
{
    ViewBag.Title= Resources.Товар +ViewBag.Product.Label;
    <p> 
            <a asp-controller = "Portals" asp-action="Index"> @Resources.Администрирование </a> @Resources.res0
            <a asp-controller = "Catalogs" asp-action="Index" asp-route-id="@ViewBag.Product.Catalog.PortalId"> @ViewBag.Product.Catalog.Portal.Label </a> \
            <a asp-controller = "Products" asp-action="Index" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Catalog.Label </a> \
            <a asp-controller = "Products" asp-action="Details" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Label </a> 
    </p>

    <h1>  @ViewBag.Title</h1>
  

     <ul class="nav nav-tabs">
            <li class="nav-item">  <a class="nav-link @ViewBag.CharacteristicsTab" href="/Characteristics/Index/@ViewBag.Product.ProductId">@Resources.Характеристики</a> </li>
            <li class="nav-item">  <a class="nav-link @ViewBag.ImagesTab" href="/ProductImages/Index/@ViewBag.Product.ProductId">@Resources.Изображения</a> </li>
            <li class="nav-item">  <a class="nav-link @ViewBag.DetailsTab" href="/Products/Details/@ViewBag.Product.ProductId">@Resources.Детали</a> </li>
     </ul>  
}
