@using RozetkaWebApp.App_GlobalResources;
<div class="row">
    <div class=" col-lg-11">
        @if (ViewBag.Product == null)
        {
            ViewBag.Title = Resources.Изменить;
            <h1>@ViewBag.Title</h1>
        }
        else
        {
            ViewBag.Title = Resources.Товар + " - " + ViewBag.Product.Label;
            if (ViewBag.DetailsTab != null)
            {
                <p>
                    <a asp-controller="Portals" asp-action="Home">  Інтернет крамниця </a> @Resources.res0
                    <a asp-controller="Portals" asp-action="Details" asp-route-id="@ViewBag.Product.Catalog.PortalId"> @ViewBag.Product.Catalog.Portal.Label </a> \
                    <a asp-controller="Catalogs" asp-action="Details" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Catalog.Label </a> \
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@ViewBag.Product.ProductId"> @ViewBag.Product.Label </a>
                </p>
            }
            else
            {
                <p>
                    <a asp-controller="Portals" asp-action="Index"> @Resources.Администрирование </a> @Resources.res0
                    <a asp-controller="Catalogs" asp-action="Index" asp-route-id="@ViewBag.Product.Catalog.PortalId"> @ViewBag.Product.Catalog.Portal.Label </a> \
                    <a asp-controller="Products" asp-action="Index" asp-route-id="@ViewBag.Product.CatalogId"> @ViewBag.Product.Catalog.Label </a> \
                    <a asp-controller="Characteristics" asp-action="Index" asp-route-id="@ViewBag.Product.ProductId"> @ViewBag.Product.Label </a>
                </p>
            }
        }
        <h1>  @ViewBag.Title</h1>
    </div>
    <div class=" col-lg-1">
        <a type="button" class="btn btn-warning  btn-sm font-weight-bold" asp-controller="Products" asp-action="AddToCart" asp-route-id="@ViewBag.Product.ProductId">
           <i class="fas fa-shopping-cart text-success text-dark"></i>
        </a>
    </div>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item">  <a class="nav-link @ViewBag.CharacteristicsTab" href="/Characteristics/Index/@ViewBag.Product.ProductId">@Resources.Характеристики</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.ImagesTab" href="/ProductImages/Index/@ViewBag.Product.ProductId">@Resources.Image</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.DetailsTab" href="/Products/Details/@ViewBag.Product.ProductId">Макет</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.CommentTab" href="/Comments/Index/@ViewBag.Product.ProductId">Відгуки</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.AudienceTab" href="/Products/Audience/@ViewBag.Product.ProductId">Цільова аудиторія</a> </li>
</ul>


