@using RozetkaWebApp.App_GlobalResources;
@using System.Security.Claims
@{
    ViewBag.Title = Resources.Користувач + " - " + ViewBag.User.UserName;
}
<p>
    <a asp-controller="Portals" asp-action="Index"> @Resources.Администрирование </a>  >
    <a asp-controller="AspNetUsers" asp-action="Index"> @Resources.Пользователи0 </a>
</p>
<h1>@ViewBag.Title</h1>

<ul class="nav nav-tabs">
    @if (User.Identity.Name == @ViewBag.User.UserName)
    {
        <li class="nav-item">  <a class="nav-link @ViewBag.PersonalTab" href="/Identity/Account/Manage">@Resources.Учетная_запись</a> </li>
    }
    <li class="nav-item">  <a class="nav-link @ViewBag.AddressesTab" href="/Addresses/Index/@ViewBag.User.Id">@Resources.Адрес_доставки</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.ContactsTab" href="/Contacts/Index/@ViewBag.User.Id">@Resources.Контакты</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.WalletsTab" href="/Wallets/Index/@ViewBag.User.Id">@Resources.Кошельки</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.OrdersTab" href="/Orders/Index/@ViewBag.User.Id">@Resources.Заказы</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.CommentsTab" href="/Comments/MyComment/@ViewBag.User.Id">Відгуки</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.CartTab" href="/AspNetUsers/Cart/@ViewBag.User.Id">Кошик</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.PreferencesTab" href="/AspNetUsers/Preferences/@ViewBag.User.Id">Уподобання</a> </li>
</ul>
