@using RozetkaWebApp.App_GlobalResources;
@{
    ViewBag.Title = Resources.Администрирование;
}
<p>
    @if (ViewBag.Details != null)
    {
        <a href="/portals/Home"> Інтернет-крамниця </a>
        ViewBag.Title = "Інтернет-крамниця";
    }
    else{
    <a href="/portals/index"> @Resources.Администрирование </a>

    }

</p>

<h1>@ViewBag.Title</h1>


<ul class="nav nav-tabs">
    <li class="nav-item">  <a class="nav-link @ViewBag.PortalsTab" href="/Portals/Index">@Resources.Порталы</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.PromotionsTab" href="/Promotions/Index">@Resources.Промоакции</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.ImagesTab" href="/RootImages/Index">@Resources.Image</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.Details" href="/Portals/Home">Макет</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.ManagerTab" href="/AspNetRoles/Index">@Resources.Групп_безопасности</a> </li>
    <li class="nav-item">  <a class="nav-link @ViewBag.UsersTab" href="/AspNetUsers/Index">@Resources.Пользователи0</a> </li>

</ul> 