@using RozetkaWebApp.App_GlobalResources;
@model ErrorViewModel
@{
    ViewBag.Title = Resources.Error0;
}

<h1 class="text-danger">@Resources._Error</h1>
<h2 class="text-danger">@Resources.An_error_occurred_while_proces</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Resources.Request_ID</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Resources.Development_Mode</h3>
<p>
    @Resources.Swapping_to <strong>@Resources.Development</strong> @Resources.environment_will_display_more_
</p>
<p>
    <strong>@Resources.The_Development_environment_sh</strong>
    @Resources.It_can_result_in_displaying_se <strong>@Resources.Development</strong> @Resources.environment_by_setting_the <strong>@Resources.ASPNETCORE_ENVIRONMENT</strong> @Resources.environment_variable_to <strong>@Resources.Development</strong>
    @Resources.and_restarting_the_app
</p>
