@model RozetkaWebApp.Models.LineDetail

@{
    ViewData["Title"] = "Удалить товар из корзины";
}

<p> 
    <h4>Вы хотите удалить этот товар?</h4>
</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderDatailId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
         <hr />
    </form>
<div>
   
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartId)
        </dd>*@
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantities)
        </dd>
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtOrderDetailNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtOrderDetailNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>*@
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliveryAddress)
        </dd class>*@
        <dt class = "col-sm-2">
            Товар
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Label)
        </dd class>
    </dl>
 
</div>
