@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.LineDetail

@{
    ViewBag.ManagerTab = (("active"));
    Html.RenderPartial((("_CartNavigator")));
}

<p> 
    <h4>@Resources.Информация_о_товаре_из_корзины</h4>
</p>

<div>
    <div class="form-group">
          <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.OrderDatailId"> @Resources.Изменить </a>
           <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">@Resources.Отменить</button>  
           @{
                ViewBag.returnUrl = "/LineDetails/Index/" + Model.OrderDatailId.ToString();
                string Path = "/LineDetails/delete/" + Model.OrderDatailId.ToString();
                <partial name="_ButtonDeleteDetails" model="@Path" />
            } 
           <hr />
      </div>   
    <dl class="row">
               <dt class = "col-sm-2">
            @Resources.Заголовок0
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd >
        <dt class  = "col-sm-2">
            @Resources.Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd class>

        <dt class = "col-sm-2">
            @Resources.Цена
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        <dt class = "col-sm-2">
            @Resources.Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantities)
        </dd> 
        <dt class = "col-sm-2">
            @Resources.Сумма
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
        <dt class = "col-sm-2">

    </dl>
</div>


