@using RozetkaWebApp.App_GlobalResources;
@model IEnumerable<RozetkaWebApp.Models.LineDetail>

@{
    ViewBag.ManagerTab = (("active"));
    Html.RenderPartial((("_CartNavigator")));
}

<p><h4>@Resources.Список_выбраных_товаров</h4></p>
     

@if (ViewBag.User == null)
{
    <p><a  class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">@Resources.Оформить_заказ</a>   </p>
}
else
{
     <p><a  class="btn btn-success" asp-controller="Orders" asp-action="Create" asp-route-id="@ViewBag.User.Id"> @Resources.Оформить_заказ </a>   </p>
}

<table class="table">
    <thead>
        <tr>
             <th> @Resources.Название </th>
            <th> @Resources.Описание </th>
           <th> @Resources.Цена </th>
            <th> @Resources.Количество  </th>
    @*         <th> Дата  </th>  *@
             <th>  @Resources.Сумма </th> 
 <th>  @Resources.Действия </th> 
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>        
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.Quantities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
@*             <td>
                @(((DateTime)item.CreateDate).ToString("dd/MM/yyyy"))
            </td>*@
            <td>
                <a asp-controller="LineDetails" asp-action="Edit" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-pen-square"></i></a> |
                <a asp-controller="LineDetails" asp-action="Details" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-folder"></i></a> |
                <a asp-controller="LineDetails" asp-action="Delete" asp-route-id="@item.OrderDatailId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
