@model RozetkaWebApp.Models.Address

@{
    ViewBag.AddressesTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

<p>
   <h4>Удалить этот адрес?</h4>
</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AddressId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <button type="button" class="btn btn-primary"  onclick= "history.go(-1)">Отменить</button>
         <hr />
    </form>

<div>
    <dl class="row">      
        <dt class = "col-sm-2">
           Адрес
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class = "col-sm-2">
            Город
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Область
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            Почтовый индекс
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            Страна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtAddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd class>*@
    </dl>
    
  
</div>
