@using RozetkaWebApp.App_GlobalResources;
@model RozetkaWebApp.Models.Address

@{
    ViewBag.AddressesTab = (("active"));
    Html.RenderPartial((("_ProfileNavigator")));
}

<p>
    <h4> @Resources.Изменить_информацию_о_адресе </h4>
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">

            <div class="form-group">
                <input type="submit" value="@Resources.Сохранить" class="btn btn-success" />
                <button type="button" class="btn btn-primary" onclick="history.go(-1)">@Resources.Отменить</button>
                <hr />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddressId" />
            <div class="form-group" style="display: none">
                <label asp-for="AddressType" class="control-label"></label>
                <input asp-for="AddressType" class="form-control" />
                <span asp-validation-for="AddressType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine1" class="control-label">@Resources.Адрес</label>
                <input asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                               @*               <label asp-for="AddressLine2" class="control-label">Дом, номер квартиры</label>*@
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                                @*                <label asp-for="AddressLine3" class="control-label">Дополнительно</label>*@
                <input asp-for="AddressLine3" class="form-control" />
                <span asp-validation-for="AddressLine3" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">@Resources.Город</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">@Resources.Область</label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">@Resources.Почтовый_индекс</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label">@Resources.Страна</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="ExtAddressId" class="control-label"></label>
                <input asp-for="ExtAddressId" class="form-control" />
                <span asp-validation-for="ExtAddressId" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    
    await Html.RenderPartialAsync((("_ValidationScriptsPartial")));

}
}
