@model IEnumerable<RozetkaWebApp.Models.Address>

@{
    ViewBag.AddressesTab = "active";
    Html.RenderPartial("_ProfileNavigator");
}

 <p><h4>Список адресов доставки</h4></p>

 <p><a  class="btn btn-success" asp-action="Create" > Добавить новый </a>   </p>

<table class="table">
    <thead>
        <tr> 
            <th> ID </th>        
            <th> Улица, дом, квартира </th>        
            <th> Город </th>
            <th>Почтовый индекс </th>
            <th class="text-right"> Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
                @Html.DisplayFor(modelItem => item.AddressLine2)
                @Html.DisplayFor(modelItem => item.AddressLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>                      
            <td class="text-right">
                <a asp-action="Details" asp-route-id="@item.AddressId"><i class="fas fa-solid fa-folder"></i></a> |
                <a asp-action="Edit" asp-route-id="@item.AddressId"><i class="fas fa-solid fa-pen-square"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.AddressId"><i class="fas fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
